/* Utilisez Bootstrap pour la plupart des styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #8b8181;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

header a:hover {
    text-decoration: underline;
}

.site-title {
    font-size: 2em;
    margin: 0;
    padding: 0;
    color: #fff;
}

.star-rating {
    direction: rtl;
    display: inline-flex;
    margin-top: 10px;
}

.star-rating input[type="radio"] {
    display: none;
}

.star-rating label {
    font-size: 2em;
    color: #ddd;
    cursor: pointer;
}

.star-rating input[type="radio"]:checked ~ label {
    color: #f5b301;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
    color: #f5b301;
}