/* Utilisez Bootstrap pour la plupart des styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #8b8181;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

header a:hover {
    text-decoration: underline;
}

.site-title {
    font-size: 2em;
    margin: 0;
    padding: 0;
    color: #fff;
}

.star-rating {
    direction: rtl;
    display: inline-flex;
    margin-top: 10px;
}

.star-rating input[type="radio"] {
    display: none;
}

.star-rating label {
    font-size: 2em;
    color: #ddd;
    cursor: pointer;
}

.star-rating input[type="radio"]:checked ~ label {
    color: #f5b301;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
    color: #f5b301;
}

.fade {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade.show {
    opacity: 1;
}

.kholle-card {
    transition: transform 0.3s, box-shadow 0.3s;
}

.kholle-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.alert-error {
    background-color: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    border-color: #c3e6cb;
}

.alert-info {
    background-color: #d1ecf1;
    color: #0c5460;
    border-color: #bee5eb;
}

.alert-warning {
    background-color: #fff3cd;
    color: #856404;
    border-color: #ffeeba;
}

.alert-message {
    background-color: #f8f9fa;
    color: #383e41;
    border-color: #d6d8db;
}

.risibank-image {
    width: 50px; /* Ajustez la taille selon vos besoins */
    height: auto;
}

.comment img.profile-picture {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}
.badge-image {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.comment {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
}
.delete-comment-btn {
    position: absolute;
    top: 10px;
    right: 10px;
}

blockquote {
    padding: 10px 20px;
    margin: 20px 0;
    border-left: 5px solid #eee;
    background-color: #f9f9f9;
}

blockquote strong {
    color: #333;
}